/* logo et titres: {font-family: 'Shrikhand', cursive;}
texte: {font-family: 'Roboto', sans-serif;}

couleurs: primaire: #9356DC
        secondaire: #FF79DA
        tertiaire: #99E2D0 */
@import url(../commons/commons.scss);
@import url(../commons/commons.css);
$primary: #9356DC;
$secondary:#FF79DC;
$tertiary:#99E2D0;

$grey: #eaeaea;
$lightgrey:#f6f6f6;
$lightpurple:#f5edff;


body {
        display: flex;
        flex-direction: column;
        margin: 0;
        background-color: white;
        font-family: 'Roboto', sans-serif;
        max-width: auto;
        justify-content: center;

}

#loader-content {
        position: absolute;
        background-color: white;
        width: 100%;
        height: 100%;
        animation: overlay 3s;
        animation-fill-mode: forwards;
        left: 0;
        top: 0;
}

@keyframes overlay {
        0% {
                opacity: 1;
                z-index: 100;
        }

        100% {
                opacity: 0;
                z-index: -1;
        }
}

.loader {
        border: 16px solid #f3f3f3;
        /* Light grey */
        border-top: 16px solid #3498db;
        /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        position: absolute;
        z-index: 101;
        top: 40%;
        left: 30%;
}

@keyframes spin {
        0% {
                transform: rotate(0deg);
        }

        100% {
                transform: rotate(360deg);
        }
}

header {
        margin: auto;
        padding-top: 15px;

        img {
                height: 30px;
                width: 150px;
        }
}

h2 {
        color: black;
}

a {
        text-decoration: none;
        color: black;
}

.explorer {
        width: 100%;
        text-align: center;
        background-color: #f6f6f6;
        min-height: 300px;
        padding-bottom: 20px;

        .location {
                background-color: #eaeaea;
                min-height: 40px;
                padding: 20px 0;
                margin: 0;
                font-weight: bold;
                box-shadow: inset 0px 8px 6px -6px #cfcfcf;
                flex: 20%;
        }

        i {
                margin: 0 20px 0 0;

        }

        div {
                flex: 80%;
                padding: 25px 25px 35px 25px;
        }

        h2 {
                font-size: 1.5em;
                padding: 0 25px;
        }

        p:nth-child(2) {
                font-size: 1.1em;
                padding: 0 15px 25px 10px;
                margin: auto;
                color: grey;
        }

}

.fonctionnement {
        width: 95%;
        margin: auto;
        min-height: 300px;
        padding-bottom: 30px;

        h2 {
                padding: 20px;
        }
}



.chips {
        display: flex;
        align-items: center;
        background-color: #f6f6f6;
        border-radius: 20px;
        margin: 15px 20px;
        position: relative;
        justify-content: flex-start;

        padding: 10px;
        box-shadow: 0 5px 10px lightgrey;
        font-weight: bold;

        i {
                align-items: center;
                color: grey;
                margin: auto 30px;
                width: 15px;
        }

        &:hover {
                background-color: #f5edff;
                box-shadow: 5px 5px 10px grey;

                i {
                        color: $primary;
                }
        }

        p:first-child {
                background-color: $primary;
                width: 25px;
                height: 25px;
                padding: 4px 5px 6px 5px;
                border-radius: 40px;
                text-align: center;
                color: white;
                position: absolute;
                left: -10px;
                align-items: center;
        }



        p:nth-child(3) {
                overflow: hidden;
        }
}

.restaurants {
        background-color: #f6f6f6;
        width: 100%;
        margin: 40px auto 0 auto;
        padding: 0 0 40px 0;

        h2 {
                width: 85%;
                margin: auto;
                padding: 50px 0 25px 0;
        }

}

.carte-restaurant {
        width: 85%;
        margin: 0 auto 25px auto;
        position: relative;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 3px 10px rgb(202, 202, 202);
        overflow: hidden;

        .carte-image {
                width: 100%;
                object-fit: cover;

                img {
                        height: 200px;
                        border-radius: 20px 20px 0 0;
                }
        }

        .encart-nouveau {
                position: absolute;
                top: 0;
                right: 10px;
                background-color: $tertiary;
                padding: 7px 10px;
                border-radius: 3px;
                font-weight: bold;
                color: #008766;
        }

        .carte-body {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 20px 18px 15px;

                h3,
                p {
                        margin: 0;
                        padding: 2px 0 0 0;

                }
        }

}

.coeur {
        img {
                width: 25px;
        }

        &:active {
                .heart-solid {
                        opacity: 1;

                }
        }
}

