/* logo et titres: {font-family: 'Shrikhand', cursive;}
texte: {font-family: 'Roboto', sans-serif;}

couleurs: primaire: #9356DC
        secondaire: #FF79DA
        tertiaire: #99E2D0 */
@import url(./commons/commons.scss);
@import url(./commons/commons.css);
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  margin: auto;
  padding-top: 15px;
}

header img {
  height: 30px;
  width: 150px;
}

h2 {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.explorer {
  width: 100%;
  text-align: center;
  background-color: #f6f6f6;
  min-height: 300px;
  padding-bottom: 20px;
}

.explorer .location {
  background-color: #eaeaea;
  min-height: 40px;
  padding: 20px 0;
  margin: 0;
  font-weight: bold;
  -webkit-box-shadow: inset 0px 8px 6px -6px #cfcfcf;
          box-shadow: inset 0px 8px 6px -6px #cfcfcf;
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

.explorer i {
  margin: 0 20px 0 0;
}

.explorer div {
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
  padding: 25px 25px 35px 25px;
}

.explorer h2 {
  font-size: 1.5em;
  padding: 0 25px;
}

.explorer p:nth-child(2) {
  font-size: 1.1em;
  padding: 0 15px 25px 10px;
  margin: auto;
  color: grey;
}

.fonctionnement {
  width: 95%;
  margin: auto;
  min-height: 300px;
  padding-bottom: 30px;
}

.fonctionnement h2 {
  padding: 20px;
}

.chips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin: 15px 20px;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px;
  -webkit-box-shadow: 0 5px 10px lightgrey;
          box-shadow: 0 5px 10px lightgrey;
  font-weight: bold;
}

.chips i {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: grey;
  margin: auto 30px;
  width: 15px;
}

.chips:hover {
  background-color: #f5edff;
  -webkit-box-shadow: 5px 5px 10px grey;
          box-shadow: 5px 5px 10px grey;
}

.chips:hover i {
  color: #9356DC;
}

.chips p:first-child {
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  padding: 4px 5px 6px 5px;
  border-radius: 40px;
  text-align: center;
  color: white;
  position: absolute;
  left: -10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chips p:nth-child(3) {
  overflow: hidden;
}

.restaurants {
  background-color: #f6f6f6;
  width: 100%;
  margin: 40px auto 0 auto;
  padding: 0 0 40px 0;
}

.restaurants h2 {
  width: 85%;
  margin: auto;
  padding: 50px 0 25px 0;
}

.carte-restaurant {
  width: 85%;
  margin: 0 auto 25px auto;
  position: relative;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0 3px 10px #cacaca;
          box-shadow: 0 3px 10px #cacaca;
  overflow: hidden;
}

.carte-restaurant .carte-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carte-restaurant .carte-image img {
  height: 200px;
  border-radius: 20px 20px 0 0;
}

.carte-restaurant .encart-nouveau {
  position: absolute;
  top: 0;
  right: 10px;
  background-color: #99E2D0;
  padding: 7px 10px;
  border-radius: 3px;
  font-weight: bold;
  color: #008766;
}

.carte-restaurant .carte-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px 18px 15px;
}

.carte-restaurant .carte-body h3,
.carte-restaurant .carte-body p {
  margin: 0;
  padding: 2px 0 0 0;
}

.coeur img {
  width: 25px;
}

.coeur:active .heart-solid {
  opacity: 1;
}

@media screen and (min-width: 820px) {
  .loader {
    left: 50% !important;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .fonctionnement h2 {
    text-align: center;
  }
  .fonctionnement .all-chips {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .fonctionnement .all-chips .chips {
    width: 30%;
  }
  .all-cartes-resto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .all-cartes-resto .carte-restaurant {
    min-width: 40%;
    max-width: 40%;
    margin: 20px;
  }
  .restaurants h2 {
    width: 83%;
  }
}
/*# sourceMappingURL=index.css.map */