$primary: #9356DC;
$secondary:#FF79DC;
$tertiary:#99E2D0;

@mixin titres__id-graph {
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
    font-size: medium;
}

button {
    background: linear-gradient($secondary, $primary);
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 20px;
    border-radius: 40px;
    border: none;
    box-shadow: 1px 5px 5px lightgrey;
    margin: auto;

    &:hover {
            background: linear-gradient(lighten($secondary, 5%), lighten($primary, 5%));
            box-shadow: 1px 5px 5px grey;
    }

}

footer {
    background-color: #535353;
    color: white;
    position: relative;
    bottom: 0;
    padding-left: 30px;

    h1 {
            @include titres__id-graph;
    }

    nav {

            i {
                    margin-right: 10px;
                    width:15px;

            }

    }

    a {
            color: white;
    }
}