$primary: #9356DC;
$secondary:#FF79DC;
$tertiary:#99E2D0;
@mixin titres__id-graph {
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
    font-size: medium;
}
*{
    box-sizing:border-box;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    justify-content: center;
    
}

button {
    background: linear-gradient($secondary, $primary);
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 20px;
    border-radius: 40px;
    border: none;
    box-shadow: 1px 5px 5px lightgrey;
    margin: auto;
    &:hover {
        background: linear-gradient(lighten($secondary, 5%), lighten($primary, 5%));
        box-shadow: 1px 5px 5px grey;
    }
}
h1 {
    @include titres__id-graph;
}
footer {
    background-color: #535353;
    color: white;
    position: relative;
    bottom: 0;
    padding-left: 30px;

    nav {
        i {
            margin-right: 10px;
            width: 15px;
        }
    }
    a {
        color: white;
        text-decoration: none;
    }
}

.coeur {
    position: relative;
    img {
            width: 40px;
    }
    .heart-solid {
            position: absolute;
            left: 0px;
            opacity: 0;
            transition: opacity 2s;
    }
    &:hover {
            .heart-solid {
                    opacity: 1;

            }
    }
}

@media screen and (min-width: 820px) {
    body{
        max-width:500px !important;
        margin:auto !important;
    }
    .loader{
        left:50% !important;
    }
}