
header {
    margin: auto;
    padding-top: 15px;

    i{
        
    }

    h1 {
            font-family: 'Shrikhand', cursive;
    font-weight: normal;
    font-size: medium;

    }

    img {
            height: 30px;
            width: 150px;
    }
}