@import url(../commons/commons.css);
@import url(../commons/header-restaurant.css);
@import url(../commons/commons.scss);
@import url(../commons/header-restaurant.scss);
main {
  background-color: #f6f6f6;
}

.image-top {
  position: relative;
  height: 250px;
  width: 100%;
}

.image-top img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.box_menu {
  position: relative;
  background-color: transparent;
  bottom: 35px;
}

.box_menu .restaurant-titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 30px 30px 0px 20px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box_menu .restaurant-titre h1 {
  margin: 0;
  font-size: 1.6em;
}

.box_menu .restaurant-titre i {
  font-size: 1.5em;
}

.box_menu article {
  background-color: #f6f6f6;
  margin: 0;
  padding: 20px;
  width: 100%;
}

.coeur {
  position: relative;
}

.coeur img {
  width: 28px;
}

.coeur .heart-solid {
  position: absolute;
  left: 0px;
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.coeur:hover .heart-solid {
  opacity: 1;
}

h2 {
  font-size: medium;
  font-weight: normal;
  margin-bottom: 5px;
}

.sub-line {
  display: block;
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
}

.menu_part {
  padding-bottom: 30px;
}

.carte_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 15px;
  margin: 15px 0;
  position: relative;
  -webkit-box-shadow: 0 5px 10px lightgrey;
          box-shadow: 0 5px 10px lightgrey;
  font-weight: bold;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.carte_menu .carte_menu-texte {
  padding: 10px 20px;
}

.carte_menu .prix {
  padding: 25px 20px 5px 20px;
}

.carte_menu:hover .carte_menu-texte {
  width: 60%;
}

.carte_menu:hover .checkbox {
  display: block;
  -webkit-animation: slideleft 0.3s ease-out;
          animation: slideleft 0.3s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.carte_menu:hover .checkbox .fa-check-circle {
  -webkit-animation: rotate 1.5s ease;
          animation: rotate 1.5s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.carte_menu .carte_menu-texte {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.carte_menu .carte_menu-texte p {
  font-weight: normal;
}

.carte_menu .carte_menu-texte h3,
.carte_menu .carte_menu-texte p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.carte_menu h3,
.carte_menu p {
  margin: 0;
}

.carte_menu .checkbox {
  display: none;
  width: 0%;
  height: 100%;
  background-color: #99E2D0;
  padding: 21px 25px;
  border-radius: 0 15px 15px 0;
}

.carte_menu .checkbox i {
  font-size: 20px;
  color: white;
}

.carte_menu:nth-child(1n+1) {
  -webkit-animation: fadein 0.5s ease-out;
          animation: fadein 0.5s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.carte_menu:nth-child(1n+2) {
  -webkit-animation: fadein 1s ease-out;
          animation: fadein 1s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.carte_menu:nth-child(1n+3) {
  -webkit-animation: fadein 1.5s ease-out;
          animation: fadein 1.5s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.carte_menu:nth-child(1n+4) {
  -webkit-animation: fadein 2s ease-out;
          animation: fadein 2s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.carte_menu:nth-child(1n+5) {
  -webkit-animation: fadein 2.5s ease-out;
          animation: fadein 2.5s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.carte_menu:nth-child(1n+6) {
  -webkit-animation: fadein 3s ease-out;
          animation: fadein 3s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.carte_menu:nth-child(1n+7) {
  -webkit-animation: fadein 3.5s ease-out;
          animation: fadein 3.5s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.carte_menu:nth-child(1n+8) {
  -webkit-animation: fadein 4s ease-out;
          animation: fadein 4s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.carte_menu:nth-child(1n+9) {
  -webkit-animation: fadein 4.5s ease-out;
          animation: fadein 4.5s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  1% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  1% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes slideleft {
  0% {
    width: 0%;
    display: none;
  }
  1% {
    display: block;
  }
  100% {
    width: 20%;
  }
}

@keyframes slideleft {
  0% {
    width: 0%;
    display: none;
  }
  1% {
    display: block;
  }
  100% {
    width: 20%;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

@media screen and (min-width: 820px) {
  main {
    height: 1200px;
  }
  .image-top {
    left: 50%;
    width: 50%;
  }
  .image-top img {
    height: 350%;
    z-index: -1;
  }
  .box_menu {
    width: 50%;
    bottom: 240px;
    z-index: 0;
  }
}
/*# sourceMappingURL=restaurant.css.map */