@import url(../commons/commons.css);
@import url(../commons/header-restaurant.css);
@import url(../commons/commons.scss);
@import url(../commons/header-restaurant.scss);



main {
    background-color: #f6f6f6;
}

.image-top {
    position: relative;
    height: 250px;
    width: 100%;


    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.box_menu {
    position: relative;
    background-color: transparent;
    bottom: 35px;


    .restaurant-titre {
        display: flex;
        width: 100%;
        margin: 0;
        padding: 30px 30px 0px 20px;
        background-color: #f6f6f6;
        border-radius: 40px 40px 0 0;
        justify-content: space-between;
        align-items: center;

        h1 {
            margin: 0;
            font-size: 1.6em;
        }

        i {
            font-size: 1.5em;
        }
    }

    article {
        background-color: #f6f6f6;
        margin: 0;
        padding: 20px;
        width: 100%;
    }

}
.coeur {
    position: relative;

    img {
        width: 28px;

    }

    .heart-solid {
        position: absolute;
        left: 0px;
        opacity: 0;
        transition: opacity 2s;
    }

    &:hover {
        .heart-solid {
            opacity: 1;

        }
        
    }
}

h2 {
    font-size: medium;
    font-weight: normal;
    margin-bottom: 5px;

}

.sub-line {
    display: block;
    height: 3px;
    width: 40px;
    background-color: #99E2D0
}

.menu_part {
    padding-bottom: 30px;
}


.carte_menu {
    display: flex;
    opacity: 0;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    margin: 15px 0;
    position: relative;

    box-shadow: 0 5px 10px lightgrey;
    font-weight: bold;
    justify-content: space-between;
    width: 100%;

    .carte_menu-texte {
        padding: 10px 20px;
    }

    .prix {
        padding: 25px 20px 5px 20px;
    }

    &:hover {
        .carte_menu-texte {
            width: 60%;
        }

        .checkbox {
            display: block;
            animation: slideleft 0.3s ease-out;
            animation-fill-mode: forwards;

            .fa-check-circle {
                animation: rotate 1.5s ease;
                animation-fill-mode: forwards;
            }
        }
    }

    .carte_menu-texte {
        flex-direction: column;
        width: 80%;

        p {
            font-weight: normal;
        }

        h3,
        p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    h3,
    p {
        margin: 0;
    }

    .checkbox {
        display: none;
        width: 0%;
        height: 100%;
        background-color: #99E2D0;
        padding: 21px 25px;
        border-radius: 0 15px 15px 0;

        i {
            font-size: 20px;
            color: white;
        }
    }
}

@for $i from 1 through 9 {
    .carte_menu:nth-child(1n+#{$i}) {
        animation: fadein ($i*0.5s) ease-out;
        animation-fill-mode: forwards;
    }

}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    1% {
        transform: translateY(20px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slideleft {
    0% {
        width: 0%;
        display: none;
    }

    1% {
        display: block;
    }

    100% {
        width: 20%;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

@media screen and (min-width: 820px){
    main{
        height:1200px;
    }
    .image-top{
        left:50%;
        width:50%;
        
        img{
            height:350%;
            z-index:-1;
        }

    }
    .box_menu{
        width:50%;
        bottom: 240px;
        z-index:0;
    }
}